<div class="card">
	<p class="text-light text-sm">remaining budget</p>
	<p class="text-xxl bolder mb-4">
        {{ remainingBudget | currency: 'BRL' }}
		<!-- <span class="text-xxl mr-3">{{ totalSpent | currency : 'BRL' }}</span>
		<span class="text-light">/{{ totalBudget | currency : 'BRL' }}</span> -->
	</p>

    <div class="corner-values mb-1 bold text-light">
        <p>{{ totalSpent | currency : 'BRL' }}</p>
        <p>{{ totalBudget | currency : 'BRL' }}</p>
    </div>

    <mat-progress-bar color="warn" mode="determinate" [value]="totalSpentPercentage"></mat-progress-bar>
</div>