// $dark-text: #231d19;

// colors
$color-off-white: #FAF9F6;
$color-blue-green: #088F8F;
$color-pewter: #899499;
$color-gray: #808080;
$color-cardinal-red: #C41E3A;
$color-platinum: #E5E4E2;
$color-jetblack: #343434;
$color-silver: #C0C0C0;